// ---------------------------------------------------------
// @Image Replacement
// ---------------------------------------------------------

// Used to replace text with image.

%ir {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
