// ---------------------------------------------------------
// @Typography Settings
// ---------------------------------------------------------

$font-sans-serif: 'Roboto', sans-serif !default;

$font-size: 14px !default;
$font-size-h1: 32px !default;
$font-size-h2: 24px !default;
$font-size-h3: 12px !default;
$font-size-h4: 18px !default;
$font-size-h5: 16px !default;
$font-size-h6: 14px !default;
$font-size-sm: 12px !default;
